<div class="tokens-container" style="position:relative;padding:30px;">
    <button style="position:absolute;left:30px;top:0;cursor:pointer;background-color: #E7AB0A" id="updateForSalesTokensButtonID"><span class="fa fa-refresh"></span> Rafraîchir</button>

    <br/><br/>
    
    <div class="w3-row forSaleTokensPanel">
        
    </div>
</div>