    <div class="tokens-container" style="position:relative;padding:30px;">
        <button style="position:absolute;left:50px;top:0;cursor:pointer;background-color:transparent" id="updateTokensButtonID"><span class="fa fa-refresh"></span> Refresh Tokens</button>
        <div class="w3-row tokensPanel">
            
        </div>
    </div>